
.teste{
 
    margin-top:70px;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
   flex-direction: column;
   width: 600px;
   font-size: 25px ;
   color: black;
}


.botao{
  margin-left:auto;
  margin-right:auto;
    margin-top:50px;
    border:1px solid #25692A;
border-radius:4px;
display:inline-block;
cursor:pointer;
font-family:Verdana;
font-weight:bold;
font-size:13px;
padding:6px 10px;
text-decoration:none;
}


.botao:hover {
    background:linear-gradient(to bottom, #46a7f5 5%, #f7d6b3 100%);
    }

@media (max-height:800px) {
    .teste {
      max-width: 350px;
      max-height: 350px;
    }
  
  }
  
  @media (max-width:800px) {
    .teste {
      max-width: 350px;
      max-height: 350px;
    }
  
  }
  
  
  
  
  @media (max-height:800px) {
    .teste {
      display: flex;
      flex-direction: column;
    }
  
  }
  
  @media (max-width:800px) {
    .teste {
      display:flex;
      flex-direction: column;
    }
  
  }
