body{
    background: #000000a8;
}

.teste{
   
    margin-top:50px;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
   flex-direction: column;
   width: 600px;
   font-size: 25px ;
   color: antiquewhite;
}

input{
    border:ridge;
    box-shadow:  2px 3px 4px #56b2b2a8;
}

.botao{
    margin-top:50px;
    margin-right: 15%;
}


