body{
    background: #000000a8;
}

.teste{
   
    margin-top:50px;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
   flex-direction: column;
   width: 600px;
   font-size: 25px ;
   color: antiquewhite;
}

input{
    border:ridge;
    box-shadow:  2px 3px 4px #56b2b2a8;
}

.botao{
    margin-top:50px;
    margin-right: 15%;
}

@media (max-height:800px) {
    .teste {
      max-width: 150px;
      max-height: 150px;
    }
  
  }
  
  @media (max-width:800px) {
    .teste {
      max-width: 150px;
      max-height: 150px;
    }
  
  }
  
  
  
  
  @media (max-height:800px) {
    .teste {
      display: flex;
      flex-direction: column;
    }
  
  }
  
  @media (max-width:800px) {
    .teste {
      display:flex;
      flex-direction: column;
    }
  
  }
