.Main{
    display: flex;
    flex-direction: row ;
    justify-content: center;
}

.nada{
    width: 33.33%;
}

form{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 33.33%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
}

.inputs{
    margin: 1%;
}

.inputs label{
    display: block;
}

.inputs input{
    width: 90%;
    height: 50px;
    text-align: center;
    border-radius:  5px;
}

form button{
    margin: 15px;
}

@media only screen and (max-width: 700px) {
    .nada{
        display: none;
    }

    form {
        width: 80%;
    }
}