.rodape {
  height: auto;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
 

}


@media (max-width:900px)
{
.rodape{
  margin-bottom: -3500px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

}



@media (min-height:200px)
{
.rodape{
  margin-bottom: -1000px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

}

