.rodape {
  height: auto;
  margin-bottom: -1000px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
 

}


@media (max-width:900px)
{
.rodape{
  margin-bottom: -2500px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

}



@media (max-height:550px)
{
.rodape{
  margin-bottom: -4000px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

}

