body{
    margin: 0;    
}
.NavDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:  #282c34;
    color: white;
}
.NavLogo{
    padding: 0.3em;
    height: 6em;
    border-top: 1em;
}
.ulStyle{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    right: 1em;
    padding: 1em;
    list-style-type: none;   
}
.ulStyle li a{
    float: right;
    margin: 1em;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 13px;
    padding: 0.9em;
    width: 6.5em;
    text-align: center;
    text-decoration: none; 
}