.Main{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.ErroPage{
    text-align: center;
    color: black;
    font-size: 2.5em;
}
.ErroPage h1{
    margin: 0;
    padding-top: 0.5em;
}
.ErroImg{
    display: flex;
    justify-content: center;
    height: 50%;
    width: auto;
    border-top: 1em;
}
.ErroPage2{
    text-align: center;
    color: black;
    font-size: 2em;
 }
.Ul{
    display: flex;
    justify-content: space-around;
    margin: 2em;
    margin-bottom: 0;
    right: 1em;
    padding: 2em;
    list-style-type: none;  
}
.Ul li a{
    margin: 1em;
    cursor: pointer;
    background-color: gray;
    color: white;
    border: 3px solid black;
    border-radius: 13px;
    padding: 0.3em;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
}
.Rodape{
    padding: 1em;
    text-align: center;
    background-color: black;
    color: floralwhite;
    font-size: 1.7em;
}

@media (max-width:1200px){
    .ErroImg{
        width: auto;
    }
    .ErroImg img{
        height: 600px;
    }
}

@media (max-width:950px){
    .ErroImg img{
        height: 400px;
    }
    .Ul li a{
        font-size: 1.6em;
    }
}

@media (max-width:800px){
    .ErroImg img{
        height: 300px;
    }
    .Ul li a{
        font-size: 1em;
    }
}
@media (max-width:600px){
    .ErroImg img{
        height: 200px;
    }
}
@media (max-width: 500px){
    .Ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }
    .Ul li{
        margin-top: 13%;
    }
}