.Main{
    background-color: rgb(165, 165, 165);
}
.ErroPage{
    text-align: center;
    color: floralwhite;
    font-size: 2.5em;
}
.ErroPage h1{
    margin: 0;
    padding-top: 0.5em;
}
.ErroImg{
    display: flex;
    justify-content: center;
    padding: 0.3em;
    height: 40em;
    border-top: 1em;
}
.ErroPage2{
    text-align: center;
    color: floralwhite;
    font-size: 2em;
 }
.Ul{
    display: flex;
    justify-content: space-around;
    margin: 2em;
    margin-bottom: 0;
    right: 1em;
    padding: 2em;
    list-style-type: none;  
}
.Ul li a{
    margin: 1em;
    cursor: pointer;
    background-color: gray;
    color: white;
    border: 3px solid black;
    border-radius: 13px;
    padding: 0.3em;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
}
.Rodape{
    padding: 1em;
    text-align: center;
    background-color: black;
    color: floralwhite;
    font-size: 1.7em;
}