.containerCards {
  display: grid;
  grid-template-columns: repeat(4, calc(25.0%));
  justify-content: center;
  text-align: center;
}

.card{
    display: flex;
    flex-direction: column;

    overflow: hidden;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 20px;
    margin: 16px;
    width:auto;
    transition: all 0.3s ease-out;
    position: inherit;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
  .card p {
    color: #a3a5ae;
    font-size: 16px;
  }

  .container-top-placas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }

  .container-valor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 6px;
    bottom: 0px;
  }

  
  .container-txt-produto{
    margin-top: 6px;
  }

  .txt-topPlaca{
    font-size: 18px !important;
    margin-bottom: 0;
  }

  .box-posicao-top {
    width: 35px;
    height: 35px;
    margin: 0;
    background-color: #43AEE3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }


  .image-div-produto{
    padding: 4%;
    margin-top: 6px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-produto {
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
  }

.txt-produto {
  text-align: left;
  min-height: 120px;
}

.container-comprar button{
  padding: 8px;
  border: none;
  color: white;
  background-color: #43AEE3;

}

.container-comprar button:hover{
  padding: 8px;
  border: none;
  color: white;
  background-color: #74CDF7;

}

.valor h4{
  margin: 0px 10px 0px 3px;
}


@media (max-width: 1350px) {
  .containerCards {
    display: grid;
    grid-template-columns: repeat(3, calc(33.33%));
  }
}

@media (max-width: 1000px) {
  .containerCards {
    display: grid;
    grid-template-columns: repeat(2, calc(50.0%));
  }
  .txt-produto {
    min-height: 100px;
  }
}

@media (max-width: 800px) /*CELULAR*/
{
.card{
  display: flex;
  flex-direction: column;
}

.txt-produto {
  text-align: left;
}

.containerCards {
  display: grid;
  grid-template-columns: repeat(1, calc(90%));
}

.txt-produto {
  min-height: auto;
}

}
