


.card{
    display: grid;
    grid-template-columns: auto 400px 400px 400px 400px;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 10px;
    margin: 20px;
    width:auto;
    transition: all 0.3s ease-out;
    
    
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
  .card p {
    color: #a3a5ae;
    font-size: 16px;
  }



  .image {
    float: right;
    max-width: 150px;
    max-height: 150px;
  }



  .blue {
    border-left: 3px solid #4895ff;
  }
   
