.tabela{
    margin: 10%  20% ;
    justify-content: center;
    border: solid 2px;
    border-radius: 20px;
    /*Overflow: hidden;*/
    
}


  
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    padding: 5px;
    line-height: inherit;
}
button {
    border: inset #7fffd4;
    border-radius: 13px;
    
}
*, ::after, ::before {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}