div{
    text-align: center;
   

}

form{
    margin: 5% 35% 5%;
    padding-block: 5%;
    text-align: center;
    /* border: solid ; */
    box-shadow: solid #5555fa 2px 3px 4px;
}

/* .nome{
    margin-right:  0px;
} */

label{
    padding: 10px;
}

Button{
    margin: 0% 0% 0% 15%;
    margin-top: 15px;
}
.btn01{
    margin: 0 47% 0;
    margin-top: -6%;
    height: 50px;
    width: 10%;
    box-shadow: 2px 3px 4px rgb(66, 62, 173);
    padding: 0.5%;
    border: inset #7fffd4;
    border-radius: 13px;
    text-decoration: none;
}



